DVR_IP=192.168.1.10
DVR_USER=Admin
DVR_PASSWORD=changeme
DVR_CMD_PORT=6001
DVR_DATA_PORT=6002
DVR_STREAM=0
DVR_KEEPALIVE=1s
DVR_RECONNECT=3s
DVR_VERBOSE=0
# cam1->proto0, cam2->proto1, ...
DVR_PROTOCOL_OFFSET=-1
# opzionale: abilita log diagnostico bridge
DVR_DIAG_FILE=/config/diag_cam1.log
